@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: "Manrope", "sans-serif";

  --radius-lg: 2rem;
  --radius-xl: 3rem;
}
